<div class="jumbotron">
<h1> Node JS Blog</h1>
</div>
<div class="border"><p> A basic overview of Node JS as I understand it is a way to employ 'push' technology to create real time web applications over web sockets.
Ryan Dahl in the video shows examples of NodeJS' capabilities such as implementing code to a server without actually changing your core code. 
Dahl also shows examples of creating a web server in your command line that and explaining how it node is effective as long as it it non blocking code 
that may or may not be effective in the long run. Below are some advantages of NodeJS as compared to standard Javascript.

</p>
</div>
<br />
<br />
<h3><u>Advantages of NodeJS</u></h3>
<li> Allows Javascript a place on the server and the browser</li>
<li> Allows you to easily and effectively switch between XML and Java.</li>
<li> You can easily and effectively mix NODE.js with CouchDB when working with Databases</li>
<li> No messing around with seperate threads when taking steps, this allows for lightning fast speed</li>
<br />
<br />
<h3><u>Disadvantages of NodeJS</u></h3>