<div class="jumbotron">
  <h1>AngularJS Blog</h1>
  <p class="lead">
    <br>
    <h2>Angular Basics Example</h2>
  </p>
  
</div>

<div class="row marketing">
 <h3> <u> Angular Example </u> </h3>
 <br />
 
<p> By implementing this code and of course having specified that this was an angular <br />
application by laying out a script that read script src="angular.min.js one can simply <br />
use an call input and set it to ng-model then to something like username or name <br />
like is shown in the picture to add a textbox that you can type in to make the <br />
username or text appear beside it. This is my example of a simple angular function. <br />
<br />


<img src="../images/Test.jpg" /><br />
<br />
 TYPE NAME: <input ng-model="UserID" /> {{UserID}}
<br />
<br />
<br />

</div>
